#game {
  position: absolute;
  width: 800px;
  height: 800px;

  /* TESTs:*/
  /* background-color: rgba(154, 203, 89, 1); */
  /* background-color: rgba(0, 0, 0, 0); */
  /* outline: thick solid lightgreen" */
  /* border-style: solid;
  border-width: 5px;
  border-color: lightgreen;  */
}